// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Font
$font-title: 'Raleway', sans-serif;
$font-body: 'Montserrat', sans-serif;;

// Colors
$main-color: #ffcd2b;
$secondary-color: #1b252d;
$gray1-color: #4d4d4d;
$gray2-color: #707070;
$gray3-color: #9b9b9a;

// Import
@import 'mobile';

// START HERE
// Main Styling
html,
body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}


//Nav
.bg-light {
  background-color: #fff !important;
}

// Cart
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

// Showcase
.carousel-caption {
  padding-bottom: 200px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

// Features
  .box-feature {
    &-image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    } //End &-image
    &-middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    } //End &-middle
  } //End .box-feature
  .box-feature:hover .box-feature-image {
    opacity: 0.3;
  }
  .box-feature:hover .box-feature-middle {
    opacity: 1;
  }

  // Cart
#cart {
  table tbody {
    tr td img {
      width: 100px;
    }
  }
}